In [1]:
%load_ext sql

In [13]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION_NAME = config.get('AWS', 'REGION_NAME')

In [9]:
import boto3

s3 = boto3.resource('s3',
                       region_name=REGION_NAME,
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

In [10]:
sampleDbBucket =  s3.Bucket("udacity-dend")

for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [14]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
%sql $conn_string

'Connected: dwhuser@dwh'

In [19]:
!python3 create_tables.py

In [20]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cusyqf6ytkmo.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [21]:
!python3 etl.py

In [22]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cusyqf6ytkmo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', '1540835983796', 248, None, 200, 1541470364796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540835983796', 248, 'Uno Entre 1000', 200, 1541470383796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540835983796', 248, 'Behind Blue Eyes', 200, 1541470632796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', '1540492941796', 252, None, 200, 1541473967796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', '1540492941796', 252, 'Frases Mudas', 200, 1541474048796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61)]

In [23]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cusyqf6ytkmo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARD842G1187B997376', 43.64856, 'Toronto, Ontario, Canada', -79.38533, 'Blue Rodeo', 491.12771, 1, 'SOHUOAP12A8AE488E9', 'Floating', 1987),
 ('AROEL1B1187B988B90', None, 'South Jamaica, Queens', None, 'Lost Boyz', 269.7922, 1, 'SOFHBAR12A6701D0FE', 'Certain Things We Do', 1997),
 ('ARB8Q2P1187FB4D05D', 34.05349, 'Los Angeles, CA', -118.24532, 'Roy Ayers', 557.45261, 1, 'SOOVJEF12A67ADE8D7', 'Long Time Ago', 0),
 ('ARIXKGR1187B99A565', 40.19033, 'Cincinnatti, OH', -82.66947, 'Nadanuf', 246.38649, 1, 'SOLCRQP12A8C13CE2B', 'The Breaks (Album Version)', 1997),
 ('ARAO91X1187B98CCA4', 41.50471, 'Cleveland, Ohio', -81.69074, 'Tracy Chapman', 259.91791, 1, 'SOBYAKJ12AB017C6E2', 'Broken (LP Version)', 2002)]

In [24]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cusyqf6ytkmo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(0, datetime.datetime(2018, 11, 9, 17, 47, 5), 36, 'free', 'SOLNAVA12AB01842E0', 'AR15R2V1187B9A9803', 392, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (64, datetime.datetime(2018, 11, 16, 16, 27, 21), 90, 'free', 'SOMUJKC12AB01865AD', 'AR9RYZP1187FB36C6A', 148, 'Pensacola-Ferry Pass-Brent, FL', 'Mozilla/5.0 (X11; Linux x86_64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (128, datetime.datetime(2018, 11, 21, 23, 36, 31), 15, 'paid', 'SOISFRK12A6D4F573D', 'AR2FAMK1187FB4CF60', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (192, datetime.datetime(2018, 11, 28, 21, 5, 13), 73, 'paid', 'SOAHVKA12A8C146C5F', 'ARPBMSQ1187B98AE69', 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (256, datetime.datetime(2018, 11, 4, 6, 51, 12), 25, 'paid', 'SORKKTY12A8C132F3E', 'ARIH5GU1187FB4C958', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [25]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cusyqf6ytkmo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(66, 'Kevin', 'Arellano', 'M', 'free'),
 (30, 'Avery', 'Watkins', 'F', 'paid'),
 (44, 'Aleena', 'Kirby', 'F', 'paid'),
 (95, 'Sara', 'Johnson', 'F', 'paid'),
 (35, 'Molly', 'Taylor', 'F', 'free')]

In [26]:
%sql SELECT * FROM artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cusyqf6ytkmo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARRQHXY11F4C83E430', 'Raheem Jamal', '', None, None),
 ('ARGGXTD11C8A42D729', 'Zomby', '', None, None),
 ('ARM7EDF1187B9B3FA1', "Guns N' Roses", '', None, None),
 ('ARSC7F71187FB52B7C', 'Harry McClintock', '', None, None),
 ('AR4MS241187B9B358B', 'Maya Saban', '', None, None)]

In [27]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cusyqf6ytkmo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 5, 15, 31, 19), 15, 5, 45, 11, 2018, '1'),
 (datetime.datetime(2018, 11, 3, 1, 12, 26), 1, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 21, 4, 20, 28), 4, 21, 47, 11, 2018, '3'),
 (datetime.datetime(2018, 11, 29, 17, 55, 54), 17, 29, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 29, 21, 27, 48), 21, 29, 48, 11, 2018, '4')]

# README.md

In [34]:
from IPython.display import Markdown, display
display(Markdown("README.md"))

# Project: Build A Cloud Data Warehouse
It is a data warehouse project on AWS where has built an ETL pipeline for a database hosted on Redshift. To complete the project, we load data from S3 to staging tables on Redshift and execute SQL statements that create the analytics tables from these staging tables.

## Introduction

A music streaming startup, Sparkify, has grown their user base and song database and want to move their processes and data onto the cloud. Their data resides in S3, in a directory of JSON logs on user activity on the app, as well as a directory with JSON metadata on the songs in their app.

As their data engineer, you are tasked with building an ETL pipeline that extracts their data from S3, stages them in Redshift, and transforms data into a set of dimensional tables for their analytics team to continue finding insights in what songs their users are listening to. You'll be able to test your database and ETL pipeline by running queries given to you by the analytics team from Sparkify and compare your results with their expected results.

## Project Datasets

You'll be working with two datasets that reside in S3. Here are the S3 links for each:

   * Song data: ```s3://udacity-dend/song_data```
   * Log data: ```s3://udacity-dend/log_data```

Log data json path: ```s3://udacity-dend/log_json_path.json```

## Song Dataset

The first dataset is a subset of real data from the [Million Song Dataset](https://labrosa.ee.columbia.edu/millionsong/). Each file is in JSON format and contains metadata about a song and the artist of that song. The files are partitioned by the first three letters of each song's track ID. For example, here are filepaths to two files in this dataset.

```
song_data/A/B/C/TRABCEI128F424C983.json
song_data/A/A/B/TRAABJL12903CDCF1A.json
```

And below is an example of what a single song file, TRAABJL12903CDCF1A.json, looks like.

```
{"num_songs": 1, "artist_id": "ARJIE2Y1187B994AB7", "artist_latitude": null, "artist_longitude": null, "artist_location": "", "artist_name": "Line Renaud", "song_id": "SOUPIRU12A6D4FA1E1", "title": "Der Kleine Dompfaff", "duration": 152.92036, "year": 0}
```

## Log Dataset

The second dataset consists of log files in JSON format generated by this [event simulator based](https://github.com/Interana/eventsim) on the songs in the dataset above. These simulate app activity logs from an imaginary music streaming app based on configuration settings.

The log files in the dataset you'll be working with are partitioned by year and month. For example, here are filepaths to two files in this dataset.

```
log_data/2018/11/2018-11-12-events.json
log_data/2018/11/2018-11-13-events.json
```

And below is an example of what the data in a log file, 2018-11-12-events.json, looks like.

![Fig.1](img/log-data.png)


## Project Structure

```
Cloud Data Warehouse
|____create_tables.py    # Database/table creation script
|____etl.py              # ELT builder
|____sql_queries.py      # SQL query collections
|____dwh.cfg             # AWS configuration file
|____tester.ipynb        # Test all proccess
```

## ELT Pipeline
#### etl.py

ELT pipeline builder

1. ```load_staging_tables```
    * Load raw data from S3 buckets to Redshift staging tables
2. ```insert_tables```
    * Transform staging table data to dimensional tables for data analysis

#### create_tables.py

Creating Staging, Fact and Dimension table schema

1. ```drop_tables```
2. ```create_tables```

#### sql_queries.py

SQL query statement collecitons for ```create_tables.py``` and ```etl.py```

1. ```*_table_drop```
2. ```*_table_create```
3. ```staging_*_copy```
4. ```*_table_insert```

##Database Schema
####Staging tables

```
staging_events
    artist VARCHAR,
    auth VARCHAR,
    firstName VARCHAR,
    gender CHAR(1),
    itemInSession INT,
    lastName VARCHAR,
    length FLOAT,
    level VARCHAR,
    location TEXT,
    method VARCHAR,
    page VARCHAR,
    registration VARCHAR,
    sessionId INT,
    song VARCHAR,
    status INT,
    ts BIGINT,
    userAgent TEXT,
    userId INT

staging_songs
    artist_id VARCHAR,
    artist_latitude FLOAT,
    artist_location TEXT,
    artist_longitude FLOAT,
    artist_name VARCHAR,
    duration FLOAT,
    num_songs INT,
    song_id VARCHAR,
    title VARCHAR,
    year INT
```

#### Fact table
```
songplays
    songplay_id INT IDENTITY(0,1),
    start_time TIMESTAMP,
    user_id INT,
    level VARCHAR,
    song_id VARCHAR,
    artist_id VARCHAR,
    session_id INT,
    location TEXT,
    user_agent TEXT
```

#### Dimension tables
```
users
    user_id INT,
    first_name VARCHAR,
    last_name VARCHAR,
    gender CHAR(1),
    level VARCHAR

songs
    song_id VARCHAR,
    title VARCHAR,
    artist_id VARCHAR,
    year INT,
    duration FLOAT

artists
    artist_id VARCHAR,
    name VARCHAR,
    location TEXT ,
    latitude FLOAT ,
    longitude FLOAT

time
    start_time TIMESTAMP,
    hour INT,
    day INT,
    week INT,
    month INT,
    year INT,
    weekday VARCHAR
```

## Running the project

To test the entire project flow we can run the tester.ipynb notebook. In this file, there are also example queries for data verification in dwh.